# Cấu hình CSDL PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=express_typeorm

# Cấu hình App
PORT=3000
JWT_KEY=meomeomeo
NODE_ENV=development
